<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<html lang="en">

<head>
    <title>Movie Website</title>
    <link rel="stylesheet" type="image/x-icon" href="~/favicon.ico" />
    
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a asp-action="MyPodcasts">My Podcasts</a>
            <a asp-action="Index">My List of Movies</a>
            <a asp-action="Create">Enter a Movie</a>
            <a asp-action="Index">Home</a>

        </nav>
    </header>
    <h1 class="text-center">@ViewBag.title</h1>

    @RenderBody()

    <br />
    <footer class="text-center">Miller Hardy 2020</footer>
    @RenderSection("scripts", false)

</body>

</html>
