@{
    ViewBag.title = "The Joel Hilton Film Collection";
}
<div>
    <h3 class="text-center">All Of My Movies</h3>
    <br />
    
        <img src="~/Joel_Hilton.jpg" class="align-items-md-center"/>

</div>

